* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  /* background-image: url('Images/home.png'); */
  background-position: center;
  background-size: cover;
}


.nav-list, .nav-list-new {
  list-style: none;
  padding: 0;
}

.nav-list li img, .nav-list-new li img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list,
.nav-list-new {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: rgba(237, 237, 237, 0.875);
  display: flex;
  align-items: center;
}

.nav-list li {
  font-weight: 600;
  font-size: 18px;
  list-style: none;
  padding: 22px;
}

.nav-list li a {
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.nav-list li a:hover {
  text-decoration: none;
  color: rgb(28, 58, 112);
  text-transform: capitalize;
}

.nav-list-new {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.386);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  backdrop-filter: blur(10px);
}

.nav-list-new li {
  margin: 20px;
  width: 100%;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  display: flex;
  align-items: center;
}

.nav-list-new li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: 10px;
  border: 2px solid #010000;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.dropdown-content a:hover {
  background-color: #8fa0b9c8;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  border: 2px solid #000000;
  min-width: 160px;
  left: 100%;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content:hover .sub-dropdown-content {
  display: block;
}

.dropdown-new {
  display: inline-block;
}

.dropdown-content-new {
  margin-top: 1px;
  border: 2px solid #000000;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  min-width: 100px;
  z-index: 1;
}

.dropdown-content-new a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.dropdown-content-new a:hover {
  background-color: #8fa0b9c8;
  color: black;
}

.dropdown-new:hover .dropdown-content-new {
  display: block;
}

.sub-dropdown-content-new {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  border: 2px solid #0a0606;
  min-width: 160px;
  left: 100%;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content-new:hover .sub-dropdown-content-new {
  display: block;
}


@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .navbar .nav-list li:last-child {
    margin-left: auto;
  }
}


@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .navbar .nav-list li:last-child {
    margin-left: auto;
  }
}

.products {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}

.products h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 450px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Allow wrapping to multiple rows */
  width: 100%;
  height: 550px;
  padding: 10px 0;
  /* Adjust padding to reduce overall gap */
  background: rgb(255, 255, 255);
}

.card {
  position: relative;
  width: 50px;
  /* Reduced width */
  height: 250px;
  /* Reduced height */
  margin: 10px 30px 30px 10px;
  /* Reduced top and bottom margin */
  flex: 0 0 15%;
  /* Adjusted flex-basis to fit 5 cards per row */
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 10px;
  /* Adjusted padding */
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  /* Adjusted font size */
  margin-top: 90px;
  /* Adjusted margin-top */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 40px;
  /* Adjusted height */
  line-height: 40px;
  /* Adjusted line-height */
}

.card .back .link a {
  color: #f3f3f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  /* Adjusted font size */
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/* pages */

.products_hydraulics{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_hydraulics h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 600px;
}
.products_forklift{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_forklift h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 600px;
}
.products_machine_tools {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_machine_tools h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 550px;
}
.products_ground_care {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_ground_care h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 550px;
}
.products_compressor_parts{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_compressor_parts h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 500px;
}
.products_solar{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_solar h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 650px;
}
.products_proto{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_proto h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 500px;
}
.products_hydrogen{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_hydrogen h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 600px;
}
.products_auto{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(42, 46, 64, 0.581), rgba(13, 27, 83, 0.813)), url('Images/abtusbg.jpg');
}
.products_auto h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(233, 233, 243, 0.833);
  padding: 10px;
  margin-left: 600px;
}
/* hydraulic gearpump */
.hgp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.hgp-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.hgp-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.hgp-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.hgp-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.hgp-container .box .hgp-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.hgp-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* hydraulics */
.hyd-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.hyd-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.hyd-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.hyd-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.hyd-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.hyd-container .box .hyd-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.hyd-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* forklift */
.fl-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.fl-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.fl-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fl-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.fl-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.fl-container .box .fl-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.fl-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* machine tools */
.mt-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.mt-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.mt-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.mt-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.mt-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.mt-container .box .mt-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.mt-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* ground care */
.gc-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.gc-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.gc-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.gc-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.gc-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.gc-container .box .gc-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.gc-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* compressor parts */
.cp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.cp-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.cp-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.cp-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.cp-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.cp-container .box .cp-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.cp-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* solar */
.solar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.solar-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.solar-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}

.solar-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.solar-container .box .solar-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.solar-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* prototyping */
.proto-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.proto-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.proto-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.proto-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.proto-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.proto-container .box .proto-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.proto-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* hydrogen */
.hydro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.hydro-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.hydro-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.hydro-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.hydro-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.hydro-container .box .hydro-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.hydro-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* automotives */
.am-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px 20px 0 20px;background-color: rgba(200, 231, 236, 0.692);
}
.am-container .heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.am-container .heading h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.am-container .heading span{
  font-weight: 200;
  font-style: italic;
}
.am-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}
.am-container .box .am-pictures{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.am-pictures img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}

.back-btn{
  display: flex;
  position: absolute;
  margin: 40px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
/* social icons */
.social-icons {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.social-icons .logo {
  margin-right: 800px;
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 15px;
  color: #333;
  font-size: 32px;
  /* Increase the font size of the icons */
}

.social-icons a:first-child {
  margin-left: 0;
}

.logo img {
  height: 80px;
  /* Adjust the height of the logo */
  margin-left: 70px;
  /* Margin between logo and icons */
}

/* footer */
.footer {
  background-image: linear-gradient(rgba(71, 78, 105, 0.436), rgba(4, 9, 30, 0.698)), url('Images/bg1.png');
  height: 400px;
}

.col1,
.col2,
.address {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.col1 h2 {
  color: #fcf7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.col1 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.col2 h2 {
  color: #fcf7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.col2 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.address p {
  padding: 10px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.address p span {
  color: #8caeb9;
  font-weight: 700;
  text-transform: uppercase;
}

.address h2 {
  color: #fcf7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .social-icons .logo {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .social-icons {
    font-size: 10px;
    flex-direction: row;
    align-items: flex-start;
  }

  .social-icons .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .social-icons a {
    font-size: 20px;
    /* Slightly reduce the icon size */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 768px) {

  .col1,
  .col2,
  .address {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .col1 h2,
  .col2 h2,
  .address h2 {
    margin-left: 20px;
    padding: 15px;
  }

  .col1 a,
  .col2 a {
    margin-left: 40px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 20px;
  }

  .social-icons {
    padding: 20px;
  }

  .logo img {
    height: 70px;
    /* Reduce the height of the logo */
    margin-left: 0;
  }

  .social-icons a {
    font-size: 20px;
    /* Further reduce the icon size */
    margin-left: 10px;
  }

  .col1 h2,
  .col2 h2,
  .address h2 {
    margin-left: 10px;
    padding: 10px;
  }

  .col1 a,
  .col2 a {
    margin-left: 20px;
  }
}