* {
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  background-image: url("Images/home.png");
  background-position: center;
  background-size: cover;
}
.logoMain {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 35px;
}
.navbar {
  display: flex;
}
.nav-list {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: rgba(237, 239, 251, 0.875);
  display: flex;
  align-items: center;
}
.nav-list li {
  font-weight: 600;
  list-style: none;
  padding: 25px;
}
.nav-list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.nav-list li a:hover {
  text-decoration: none;
  color: rgb(28, 58, 112);
  text-transform: uppercase;
}

/* overview */

.overview {
  margin: 0;
  padding: 0;
}

.overview h1 {
  font-size: 50px;
  font-weight: 400;
  color: #3776e4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overview-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-image: url(Images/bgmain.png);
}

.overview-image {
  flex: 1;
}

.overview-image img {
  width: 700px;
  height: 500px;
}

.overview-text {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 2em;
}

.overview-text span {
  font-size: 60px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overview-text p {
  text-align:justify;
  color: #000;
  padding: 4px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overview-text h3 {
  color: rgb(9, 25, 38);
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}



/* PRODUCT SEGMENTS */
.prodSegment {
  margin: 0;
  padding: 0;
}

.prodSegment h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.prodSegment span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.prodSegment h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.card a{
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin-left: 20px;
  border: 2px solid rgb(7, 7, 215);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: 0 px 8px rgbx(0, 0, 0, 0.1);
  width: 250px;
  height: 250px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  background-color: rgba(141, 181, 209, 0.946);
}

.card img {
  width: 50px;
  height: auto;
  margin-top: 5px;
  margin-left: 45%;
}

.card-content {
  padding: 5px;
}

.card-content h3 {
  margin-top: 5px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-content p {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* FACTS AND FIGURES */

.figures {
  margin: 0;
  padding: 0;
}

.figures h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.figures span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.figures h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.fig-container {
  background-image: url("Images/Background1.png");
  padding: 80px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.fig-box {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 20vmin;
  border: 2px solid rgb(8, 8, 161);
  display: flex;
  flex-direction: column;
  background-color: #abd4f6b9;
  border-bottom: 10px solid rgb(12, 12, 164);
}

.fig-box img {
  width: 20%;
  margin-top: 10px;
  margin-left: 42%;
}

span.num {
  display: grid;
  margin-top: 5px;
  color: black;
  font-size: 35px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span.text {
  color: black;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*  our strengths */
.image-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Adjust as necessary */
  margin-bottom: 10px;
}
.image-container img {
  width: 100%;
  height: 500px;
}
.image-container .heading {
    position: absolute;
    cursor: pointer;
    color: rgb(20, 8, 45);
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.image-container .heading:hover {
    transform: scale(1.05);
}
.image-container .heading1 {
    top: 5%;
}
.image-container .heading2 {
    top: 15%;
}
.image-container .heading3 {
    top: 25%;
}
.image-container .heading4 {
    top: 35%;
}
.image-container .heading5 {
    top: 45%;
}
.image-container .heading6 {
    top: 55%;
}
.image-container .heading7 {
    top: 65%;
}
.image-container .heading8 {
    top: 75%;
}
.image-container .content {
    position: absolute;
    display: none; /* Hide content by default */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    border: 2px solid #0b0162;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    max-width: 700px;
}
.image-container .content1{
    top: 28%;
    left: 77%;
}
.image-container .content2{
    top: 30%;
    left: 77%;
}
.image-container .content3{
    top: 44%;
    left: 60%;
}
.image-container .content4{
    top: 55%;
    left: 60%;
}
.image-container .content5{
    top: 60%;
    left: 60%;
}
.image-container .content6{
    top: 65%;
    left: 60%;
}
.image-container .content7{
    top: 80%;
    left: 60%;
}
.image-container .content8{
    top: 80%;
    left: 60%;
}

.our-strength {
  margin: 0;
  padding: 0;
}

.our-strength h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.our-strength span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.our-strength h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}


/* Our Products */
.products {
  margin: 0;
  padding: 0;
}

.products h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.products span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.products h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  /* width: calc(250px * 18); */
  width: auto;
  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}
.slide { 
  height: 200px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  perspective: 100px;
}
.slide img{
  width: 200px;
  height: 150px;
  transition: transform 1s;
}
.slide img:hover{
  transform: translateZ(20px);
}
.slider::before,
.slider::after{
  background: linear-gradient(to right, rgb(255, 255, 255)0%,rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
@media (max-width: 768px){
  .slide{
    width: 40%;
  }
}
@media (max-width: 480px){
  .slide{
    width: 80%;
  }
}
/* our customer */

.ourCust {
  margin: 0;
  padding: 0;
}

.ourCust h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.ourCust span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.ourCust h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.slide-cust{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px; 
}

.slide-cust img{
  width: 200px;
  height: 100px;
  transition: transform 1s;
}
.slide-cust img:hover{
  transform: translateZ(20px);
}


/* frequently asked questions */
.freq-questions {
  margin: 0;
  padding: 0;
}

.freq-questions h1 {
  font-size: 50px;
  font-weight: 600;
  color: #3776e4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.freq-questions h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.faq-container {
  border: 1px solid black;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.faq-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.question {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.answer {
  display: none;
  padding: 10px;
  border: 1px solid #1b8cfe;
  border-radius: 5px;
  background-color: #b6e4fef0;
  margin-top: 5px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-us {
  margin: 0;
  padding: 0;
}

.contact-us h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.contact-us span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.contact-us h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  background-image: url("Images/Background1.png");
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

/* social icons */
.social-icons {
  display: flex;

  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.social-icons .logo {
  margin-right: 800px;
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 15px;
  color: #333;
  font-size: 32px;
  /* Increase the font size of the icons */
}

.social-icons a:first-child {
  margin-left: 0;
}

.logo img {
  height: 80px;
  /* Adjust the height of the logo */
  margin-left: 70px;
  /* Margin between logo and icons */
}

/* footer */
.footer {
  background-image: linear-gradient(
      rgba(71, 78, 105, 0.436),
      rgba(4, 9, 30, 0.698)
    ),
    url("Images/bg1.png");
  height: 400px;
}

.col1,
.col2,
.address {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.col1 h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.col1 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.col2 h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.col2 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.address p {
  padding: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.address p span {
  color: #8caeb9;
  font-weight: 700;
  text-transform: uppercase;
}

.address h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: 10px;
  border: 2px solid #fff;
  display: none;
  position: absolute;
  background-color: rgba(214, 217, 237, 0.875);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.dropdown-content a:hover {
  background-color: #6f6f76c8;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Style the submenu */
.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(214, 217, 237, 0.875);
  border: 2px solid #fff;
  min-width: 160px;
  left: 100%;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show the submenu when hovering over the parent dropdown item */
.dropdown-content:hover .sub-dropdown-content {
  display: block;
}
