* {
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  background-image: url("Images/home.png");
  background-position: center;
  background-size: cover;
}


.nav-list, .nav-list-new {
  list-style: none;
  padding: 0;
}

.nav-list li img, .nav-list-new li img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list,
.nav-list-new {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: rgba(237, 237, 237, 0.875);
  display: flex;
  align-items: center;
}

.nav-list li {
  font-weight: 600;
  font-size: 18px;
  list-style: none;
  padding: 22px;
}

.nav-list li a {
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.nav-list li a:hover {
  text-decoration: none;
  color: rgb(28, 58, 112);
  text-transform: capitalize;
}

.nav-list-new {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.386);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  backdrop-filter: blur(10px);
}

.nav-list-new li {
  margin: 20px;
  width: 100%;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  display: flex;
  align-items: center;
}

.nav-list-new li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: 10px;
  border: 2px solid #010000;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.dropdown-content a:hover {
  background-color: #8fa0b9c8;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  border: 2px solid #000000;
  min-width: 160px;
  left: 100%;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content:hover .sub-dropdown-content {
  display: block;
}

.dropdown-new {
  display: inline-block;
}

.dropdown-content-new {
  margin-top: 1px;
  border: 2px solid #000000;
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  min-width: 100px;
  z-index: 1;
}

.dropdown-content-new a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}

.dropdown-content-new a:hover {
  background-color: #8fa0b9c8;
  color: black;
}

.dropdown-new:hover .dropdown-content-new {
  display: block;
}

.sub-dropdown-content-new {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.832);
  border: 2px solid #0a0606;
  min-width: 160px;
  left: 100%;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content-new:hover .sub-dropdown-content-new {
  display: block;
}


@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .navbar .nav-list li:last-child {
    margin-left: auto;
  }
}


/* overview */

.overview {
  margin: 0;
  padding: 0;
}

.overview h1 {
  font-size: 50px;
  font-weight: 400;
  color: #3776e4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.overview-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-image: url(Images/bgmain.png);
}

.overview-image {
  flex: 1;
}

.overview-image img {
  width: 700px;
  height: 500px;
}

.overview-text {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 2em;
}

.overview-text span {
  font-size: 60px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overview-text p {
  text-align:justify;
  color: #000;
  padding: 4px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overview-text h3 {
  color: rgb(9, 25, 38);
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .overview h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .overview-content {
    flex-direction: column;
    padding: 10px;
  }
  .overview-image img {
    width: 80%;
    height: auto;
    margin-left: 50px;
  }
  .overview-text {
    margin-left: 10px;
    margin-right: 10px;
  }
  .overview-text span {
    font-size: 40px;
  }
  .overview-text p {
    font-size: 15px;
    line-height: 1.5rem;
  }
  .overview-text h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .overview h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .overview-content {
    flex-direction: row;
    padding: 15px;
  }
  .overview-image img {
    width: 100%;
    height: auto;
  }
  .overview-text {
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .overview-text span {
    font-size: 50px;
  }
  .overview-text p {
    font-size: 15px;
  }
  .overview-text h3 {
    font-size: 19px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}


/* PRODUCT SEGMENTS */
.prodSegment {
  margin: 0;
  padding: 0;
}

.prodSegment h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.prodSegment span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.prodSegment h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.card a{
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin-left: 20px;
  border: 2px solid rgb(7, 7, 215);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: 0 px 8px rgbx(0, 0, 0, 0.1);
  width: 250px;
  height: 250px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  background-color: rgba(141, 181, 209, 0.946);
}

.card img {
  width: 50px;
  height: auto;
  margin-top: 5px;
  margin-left: 45%;
}

.card-content {
  padding: 5px;
}

.card-content h3 {
  margin-top: 5px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-content p {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .prodSegment h1 {
    font-size: 30px;
    margin-top: 15px;
  }
  .prodSegment span {
    font-size: 30px;
  }
  .prodSegment h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;  
  }
  .card {
    width: 45%;
    height: auto;
    margin: 5px 0;
    margin: 10px;
  }
  .card img {
    width: 40px;
    margin-left: 100px;
    
  }
  .card-content h3 {
    font-size: 18px;
  }
  .card-content p {
    font-size: 16px;
  }
}


/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .prodSegment h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  .prodSegment span {
    font-size: 40px;
  }
  .prodSegment h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .card-container {
    justify-content: space-between;
  }
  .card {
    position: relative;
    width: 40%;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
  }
  .card img {
    width: 45px;
    margin-left: 45%;
  }
  .card-content h3 {
    font-size: 19px;
  }
  .card-content p {
    font-size: 17px;
  }
}


/* FACTS AND FIGURES */

.figures {
  margin: 0;
  padding: 0;
}

.figures h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.figures span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.figures h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.fig-container {
  background-image: url("Images/bgmain.png");
  padding: 80px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.fig-box {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 20vmin;
  border: 2px solid rgb(8, 8, 161);
  display: flex;
  flex-direction: column;
  background-color: #abd4f6b9;
  border-bottom: 10px solid rgb(12, 12, 164);
}

.fig-box img {
  width: 20%;
  margin-top: 10px;
  margin-left: 42%;
}

span.num {
  display: grid;
  margin-top: 5px;
  color: black;
  font-size: 35px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span.text {
  color: black;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Small screens */
@media only screen and (max-width: 600px) {
  .figures h1 {
    font-size: 30px;
    margin-top: 15px;
  }
  .figures span {
    font-size: 30px;
  }
  .figures h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .fig-container {
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .fig-box {
    width: 40%;
    height: 40%;
    margin: 10px 1%;
  }
  .fig-box img {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
  }
  span.num {
    font-size: 25px;
  }
  span.text {
    font-size: 16px;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .figures h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  .figures span {
    font-size: 40px;
  }
  .figures h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .fig-container {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
  }
  .fig-box {
    width: 20%;
    margin: 10px 0;
  }
  .fig-box img {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
  }
  span.num {
    font-size: 30px;
  }
  span.text {
    font-size: 17px;
  }
}

/*  our strengths */
.our-strength h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.our-strength span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.our-strength h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
}
.wrapper{
  padding: 5px 5%;
}
#card_area{
padding: 5px 0;
}
.box_area{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,10fr)) ;
  grid-gap: 30px;
  margin-top: 10px;
}
.box{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
 
}
.box img{
  width: 100%;
  border-radius:10px ;
  display: block;
  transition: transform 0.5s;
}
.overlay{
  height: 0;
  width: 100%;
  background: linear-gradient(transparent,#12103a 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: height 0.5s;
  box-sizing: border-box;
}
.overlay p{
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
  margin-top: 50px;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  align-items: center;
  text-align: justify;
  line-height: 1.5rem;
  overflow: hidden; /* Added this line */
}
.box:hover {
  transform: scale(1.0); /* Scale up the entire box on hover */
}
.box:hover img{
  transform: scale(1.0) ;
}
.box:hover .overlay{
  height: 100%;
}
/* Our Products */
.products {
  margin: 0;
  padding: 0;
}

.products h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.products span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.products h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: auto;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.slide {
  height: 250px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  perspective: 100px;
}

/* Common card styles for card_cust and card_prod */
.card_cust, .card_prod {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.269);
  overflow: hidden;
  position: relative;
}

.card_cust img, .card_prod img {
  width: 80%; /* Adjust this value to reduce/increase the image size */
  height: 80%; /* Adjust this value to reduce/increase the image size */
  object-fit: contain;
  transition: transform 1s;
}

.card_cust img:hover, .card_prod img:hover {
  transform: scale(1.1);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@media (max-width: 768px) {
  .slide {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .slide {
    width: 80%;
  }
}

/* our customer */

.ourCust {
  margin: 0;
  padding: 0;
}

.ourCust h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.ourCust span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.ourCust h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-track {
  display: flex;
  width: calc(250px * 18); /* Adjust the total width based on the number of slides */
  animation: scroll 20s linear infinite;
}

.slide-cust {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}



.card_cust img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9)); /* Adjust the translation based on the number of slides */
  }
}


/* frequently asked questions */
.freq-questions {
  margin: 0;
  padding: 0;
}

.freq-questions h1 {
  font-size: 50px;
  font-weight: 600;
  color: #3776e4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.freq-questions h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.faq-container {
  border: 1px solid black;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.faq-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.question {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.answer {
  display: none;
  padding: 10px;
  border: 1px solid #1b8cfe;
  border-radius: 5px;
  background-color: #b6e4fef0;
  margin-top: 5px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-us {
  margin: 0;
  padding: 0;
}

.contact-us h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #0b0162;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-align: center;
}

.contact-us span {
  color: #3776e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-align: center;
}

.contact-us h3 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.contact-form {
  background-image: url("Images/Background1.png");
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  resize: vertical;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

/* social icons */
.social-icons {
  display: flex;

  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.social-icons .logo {
  margin-right: 800px;
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 15px;
  color: #333;
  font-size: 32px;
  /* Increase the font size of the icons */
}

.social-icons a:first-child {
  margin-left: 0;
}

.logo img {
  height: 80px;
  /* Adjust the height of the logo */
  margin-left: 70px;
  /* Margin between logo and icons */
}

/* footer */
.footer {
  background-image: linear-gradient(
      rgba(71, 78, 105, 0.436),
      rgba(5, 12, 37, 0.486)
    ),
    url("Images/bg1.png");
  height: 400px;
}

.col1,
.col2,
.address {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.col1 h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;

}

.col1 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  line-height: 2rem;
}

.col2 h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}

.col2 a {
  margin-left: 80px;
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  line-height: 2rem;
}

.address p {
  padding: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 2rem;
}

.address p span {
  color: #8caeb9;
  font-weight: 700;
  text-transform: uppercase;
}

.address h2 {
  color: #fcf7f7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-left: 40px;
  padding: 30px;
}
/* Media Queries */
@media (max-width: 1200px) {
  .social-icons .logo {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .social-icons {
    font-size: 10px;
    flex-direction: row;
    align-items: flex-start;
  }

  .social-icons .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .social-icons a {
    font-size: 20px; /* Slightly reduce the icon size */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 768px) {
  .col1, .col2, .address {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .col1 h2, .col2 h2, .address h2 {
    margin-left: 20px;
    padding: 15px;
  }

  .col1 a, .col2 a {
    margin-left: 40px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 20px;
  }

  .social-icons {
    padding: 20px;
  }

  .logo img {
    height: 70px; /* Reduce the height of the logo */
    margin-left: 0;
  }

  .social-icons a {
    font-size: 20px; /* Further reduce the icon size */
    margin-left: 10px;
  }

  .col1 h2, .col2 h2, .address h2 {
    margin-left: 10px;
    padding: 10px;
  }

  .col1 a, .col2 a {
    margin-left: 20px;
  }
}